body {
  margin: 0;
  font-family: Arial;
  color: rgb(243, 230, 230);
  background-color: #262839;
}

#name {
  letter-spacing: 3px;
  border-bottom: 2px solid rgb(161, 127, 127);
  width: fit-content;
  height: fit-content;
  margin: 120px auto 40px;
}

#intro {
  width: 25%;
  text-align: center;
  margin: auto;
}

#socials {
  width: fit-content;
  margin: 5% auto;
}

#socials a {
  font-size: 20px;
  color: lightblue;
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  #intro {
    width: 300px;
  }
}
